include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body
    include blocks/header.pug

    include blocks/top.pug
    include blocks/advantages.pug
    include blocks/cases.pug
    include blocks/about.pug
    include blocks/contacts.pug

    include blocks/footer.pug